# WE08 keras- Data Preprocessing
# Bapuji Satyala 
# U61600601

In this Notebook I have considered a dataset from the UCI repository, where this dataset has 2139 observations with 24 features and 1 target, where our target variable is Binary column. This is a Classification Problem where  we are predicting if the patient have died within a certain window of time or not with diagnosed as AIDS and we will be doing the preprocessing of the data in this note book and further implementing the Keras model of branching wide and Deep approach, where i have considered three variations of the Keras Deep and Wide nework.

The link for the dataset : https://archive.ics.uci.edu/dataset/890/aids+clinical+trials+group+study+175

## Importing the required libraries that we will be using in this note book.

In [1]:
import numpy as np
import pandas as pd
from ucimlrepo import fetch_ucirepo

np.random.seed(1)

To import the data we need to install the ucimlrepo as the dataset is Present in that repo, commented the below statement as the repo is already installed.

In [2]:
#pip install ucimlrepo

Fetching the dataset from the repo and the id number of the dataset is 890 and we are saving the data set to the dataframe df

In [3]:
AD = fetch_ucirepo(id=890) 
df = AD.data.original

Now we are looking at the top 5 observations of the dataframe which contain all the features and the target

In [4]:
df.head()

,pidnum,cid,time,trt,age,wtkg,hemo,homo,drugs,karnof,...,gender,str2,strat,symptom,treat,offtrt,cd40,cd420,cd80,cd820
0,10056,0,948,2,48,89.8128,0,0,0,100,...,0,0,1,0,1,0,422,477,566,324
1,10059,1,1002,3,61,49.4424,0,0,0,90,...,0,1,3,0,1,0,162,218,392,564
2,10089,0,961,3,45,88.4520,0,1,1,90,...,1,1,3,0,1,1,326,274,2063,1893
3,10093,0,1166,3,47,85.2768,0,1,0,100,...,1,1,3,0,1,0,287,394,1590,966
4,10124,0,1090,0,43,66.6792,0,1,0,100,...,1,1,3,0,0,0,504,353,870,782

We are looking at the number of rows and columns in the data frame.The dataframe contains 2139 observations and 25 columns

In [5]:
df.shape

(2139, 25)

Checking if there are any null values in the data frame and additing them to get more clear understanding on data if there are any nulls in the data frame or not

In [6]:
df.isna().sum()

pidnum     0
cid        0
time       0
trt        0
age        0
wtkg       0
hemo       0
homo       0
drugs      0
karnof     0
oprior     0
z30        0
zprior     0
preanti    0
race       0
gender     0
str2       0
strat      0
symptom    0
treat      0
offtrt     0
cd40       0
cd420      0
cd80       0
cd820      0
dtype: int64

Lets look at the details of the data frame and their data types and the counts of non null values

In [7]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2139 entries, 0 to 2138
Data columns (total 25 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   pidnum   2139 non-null   int64
 1   cid      2139 non-null   int64
 2   time     2139 non-null   int64
 3   trt      2139 non-null   int64
 4   age      2139 non-null   int64
 5   wtkg     2139 non-null   float64
 6   hemo     2139 non-null   int64
 7   homo     2139 non-null   int64
 8   drugs    2139 non-null   int64
 9   karnof   2139 non-null   int64
 10  oprior   2139 non-null   int64
 11  z30      2139 non-null   int64
 12  zprior   2139 non-null   int64
 13  preanti  2139 non-null   int64
 14  race     2139 non-null   int64
 15  gender   2139 non-null   int64
 16  str2     2139 non-null   int64
 17  strat    2139 non-null   int64
 18  symptom  2139 non-null   int64
 19  treat    2139 non-null   int64
 20  offtrt   2139 non-null   int64
 21  cd40     2139 non-null   int64
 22  cd420    2139 non-null   int64
 23  cd80     2139 non-null   int64
 24  cd820    2139 non-null   int64
dtypes: float64(1), int64(24)
memory usage: 417.9 KB

We are looking at the statstics of the data in the dataframe, from the below we can see the minimum values, maximum values and the mean and standard deviadtion in each column of the data frame

In [8]:
df.describe()

,pidnum,cid,time,trt,age,wtkg,hemo,homo,drugs,karnof,...,gender,str2,strat,symptom,treat,offtrt,cd40,cd420,cd80,cd820
count,2139.000000,2139.000000,2139.000000,2139.000000,2139.000000,2139.000000,2139.000000,2139.000000,2139.000000,2139.000000,...,2139.000000,2139.000000,2139.000000,2139.000000,2139.000000,2139.000000,2139.000000,2139.000000,2139.000000,2139.000000
mean,248778.252454,0.243572,879.098177,1.520804,35.248247,75.125311,0.084151,0.661057,0.131370,95.446470,...,0.827957,0.585788,1.979897,0.172978,0.751286,0.362786,350.501169,371.307153,986.627396,935.369799
std,234237.289399,0.429338,292.274324,1.127890,8.709026,13.263164,0.277680,0.473461,0.337883,5.900985,...,0.377506,0.492701,0.899053,0.378317,0.432369,0.480916,118.573863,144.634909,480.197750,444.976051
min,10056.000000,0.000000,14.000000,0.000000,12.000000,31.000000,0.000000,0.000000,0.000000,70.000000,...,0.000000,0.000000,1.000000,0.000000,0.000000,0.000000,0.000000,49.000000,40.000000,124.000000
25%,81446.500000,0.000000,727.000000,1.000000,29.000000,66.679200,0.000000,0.000000,0.000000,90.000000,...,1.000000,0.000000,1.000000,0.000000,1.000000,0.000000,263.500000,269.000000,654.000000,631.500000
50%,190566.000000,0.000000,997.000000,2.000000,34.000000,74.390400,0.000000,1.000000,0.000000,100.000000,...,1.000000,1.000000,2.000000,0.000000,1.000000,0.000000,340.000000,353.000000,893.000000,865.000000
75%,280277.000000,0.000000,1091.000000,3.000000,40.000000,82.555200,0.000000,1.000000,0.000000,100.000000,...,1.000000,1.000000,3.000000,0.000000,1.000000,1.000000,423.000000,460.000000,1207.000000,1146.500000
max,990077.000000,1.000000,1231.000000,3.000000,70.000000,159.939360,1.000000,1.000000,1.000000,100.000000,...,1.000000,1.000000,3.000000,1.000000,1.000000,1.000000,1199.000000,1119.000000,5011.000000,6035.000000

### Step 2: Dropping the  variables that are not relavant to our analysis

The race column do hold data for the patients if they are White or Non-White which is not relavant to our analysis, so we are dropping the column from our data frame.

In [9]:
df.drop(columns=['race','pidnum'],inplace=True)

Lets look at the number of columns after dropping the race column from the dataframe

In [10]:
df.shape

(2139, 23)

### Step 3:Checking if the target class is balanced or not

In [11]:
df['cid'].value_counts()

0    1618
1     521
Name: cid, dtype: int64

We can see that the target class is unbalanced as there will be bias if this unbalancing is not adjusted, hence balancing technique will be implemented in the Model fitting notebook

Saving the dataframe to csv file to use the dataframe for further model fitting and analysis

In [12]:
df.to_csv('KERAS_NN_DATA.csv', index=False)